html,body{
  
}
* {
    box-sizing: border-box;
}
table {
    width: 100%;
    position: relative;
}
table tbody tr td:nth-child(1) {
    width: 25%;
}
table tbody tr td:nth-child(2) {
    width: 75%;
}
table tr td {
    padding: 5px !important;
}
input, textarea {
    padding: 5px;
    width: 80%;
    max-width: 500px;
}
input[type=radio], input[type=checkbox] {
    width: auto;
}
.form{
    margin:0.5rem;
    padding: 0.3rem;
    gap: 2rem;
}
p{
    margin-left:70%;
    color: brown;
    font-weight:800;
    font-size: small;
}
.main{
    background-color: rgb(242, 237, 237);
    font-size: small;
}
button{
    background-color: green;
    color: white;
    font-weight:700;
    font-size:10px;
}
.SPL{
    align-content:justify;
    margin-right: 2rem;
}

label{
    /* text-align:flex; */
    /* display: flex; */
    gap:1rem;

    
}


